a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: x-large;

}
p{
    font-size: x-large;
    text-align: center;
}
h1{
    font-size: 50px;
    color : blue ; 

}
h2{
    font-size: 30px;
    color: crimson ;
}
body{
    text-align: center;
    background-color: white;
    color : black ;
}
link{
    color:  red;
}